@import "./assets/css/colors.scss";

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/work-sans.medium.ttf") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  color: $white;
  background: $black;
}

body {
  font-family: "Work Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
